@import helper._
@(id: Long, todoForm: Form[String])(implicit requestHeader: MessagesRequestHeader)
@main(title = "Update"){
    @form(CSRF(routes.TodoController.todoUpdate(id))) {
    <fieldset>
        @helper.inputText(todoForm("name"),  Symbol("_label") -> "Name")
    </fieldset>
    <input type="submit" value="更新">
    }
    @form(CSRF(routes.TodoController.todoDelete(id))) {
    <input type="submit" value="削除" class="btn danger">
    }
}
@import tags._

@notice("error") { color =>
Oops, something is <span style="color:@color">wrong</span>
}